.app-header {
    background-color: brown;
    border-bottom: 1px solid rgb(104, 103, 103);
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.app-header-logo {
    display: block;
    height: 44px;
}
.hea{
    display: flex;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
        
}
