.app-section {
    padding: 20px;
    background-image:url("https://s.isanook.com/tr/0/rp/r/w728/ya0xa0m1w0/aHR0cHM6Ly9zLmlzYW5vb2suY29tL3RyLzAvdWQvMjgyLzE0MTIwMjkvbW91bnRhaW4tMjU4NTA2OV8xOTIwLTc2OHg1NzYuanBn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.app-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.app-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    height: 100vh;

}

.blank{
    background-image:url("https://s.isanook.com/tr/0/rp/r/w728/ya0xa0m1w0/aHR0cHM6Ly9zLmlzYW5vb2suY29tL3RyLzAvdWQvMjgyLzE0MTIwMjkvbW91bnRhaW4tMjU4NTA2OV8xOTIwLTc2OHg1NzYuanBn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}